@model Tanfolyam.Models.Data.Classes.Teacher

@{
    ViewData["Title"] = "AddTeacher";
}

<h1>Oktató felvétele</h1>

<hr />
<div>
    <div class="form-bg">
        <form asp-action="AddTeacher">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label form-label">Oktató neve</label>
                <input asp-for="Name" class="form-control form-input" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Felvesz" class="btn btn-primary form-btn"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="TeacherListing">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
