@{
    ViewData["Title"] = "Adminisztráció";
}

<section class="maintext">
    <h1>Adminisztrációs felület</h1><hr />
</section>
<section class="adminsection">
    <div>
        <h3>Idei kezdőegyenleg módosítása</h3>
        <input type="number" class="admininput" placeholder="..."/> Ft
        <button type="submit" class="save-btn">Mentés</button>
    </div>
</section>
<section class="adminsection">
    <div>
        <a asp-area="Admin" asp-controller="Admin" asp-action="TeacherListing"><h3>Oktató felvétele</h3></a>
    </div>
</section>
<section class="adminsection">
    <a asp-area="Admin" asp-controller="Admin" asp-action="CourseListing"><h3>Tanfolyamok hozzáadása/módosítása/törlése</h3></a>
</section>
<section>
    <h3>Statisztika</h3>
    idejönnek a diagrammok
</section>