@model Tanfolyam.Models.Data.Classes.Course

	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label form-label">Megnevezés</label>
                <input asp-for="Name" class="form-control form-input maxlength="30" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher" class="control-label form-label">Kijelölt oktató</label>
                <select asp-for="Teacher" class="form-control form-input" asp-items="ViewBag.Teachers"></select>
                <span asp-validation-for="Teacher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label form-label">Előadás típusa</label>
                <select asp-for="Type" class="form-control form-input" asp-items="ViewBag.courseTypes"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label form-label">Kurzus témája</label>
                <textarea asp-for="Description" class="form-control form-input admininput-desc" maxlength="50"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label form-label">Ár (Ft)</label>
                <input type="number" asp-for="Price" class="form-control form-input" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.LengthInHour" class="control-label form-label">Kurzus időtartama (óra)</label>
                <input type="number" asp-for="Schedule.LengthInHour" class="form-control form-input" />
                <span asp-validation-for="Schedule.LengthInHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.RegistrationDeadline" class="control-label form-label">Regisztráció határideje</label>
                <input type="datetime-local" asp-for="Schedule.RegistrationDeadline" class="form-control form-input" min="@DateTime.Now />
                <span asp-validation-for="Schedule.RegistrationDeadline" class="text-danger"></span>
            </div>