@{
    ViewData["Title"] = "Felvett kurzusok";
}
<body>
    <section class="maintext">
        <h1>Felvett kurzusaid:</h1>
    </section>
    <section>
        <div class="balance">
            <p>Idei kezdőegyenleg: 130.000 Ft</p>
            <p>Még ennyit tudsz elkölteni: 25.000 Ft</p>
        </div>
        <div>
            <ul class="bg-bubble">
                <li>Kurzus #1</li>
                <button class="li-btn">Töröl</button>
                <li>Kurzus #2</li>
                <button class="li-btn">Töröl</button>
                <li>Kurzus #3</li>
                <button class="li-btn">Töröl</button>
                <li>Kurzus #4</li>
                <button class="li-btn">Töröl</button>
            </ul>
        </div>
    </section>
</body>
