@{
    ViewData["Title"] = "Adminisztráció";
}

<section class="maintext">
    <h1>Adminisztrációs felület</h1>
</section>
<section>
    <div class="balance">
        <p>Idei kezdőegyenleg: 130.000 Ft</p>
        <p>Még ennyit tudsz elkölteni: 25.000 Ft</p>
    </div>
    <div>
        <ul class="bg-bubble">
            <li>
                <span class="listitem">Kurzus #1</span>
                <span><button class="li-btn">Felvesz</button></span>
            </li>
            <li>
                <span class="listitem">Kurzus #2</span>
                <span><button class="li-btn">Felvesz</button></span>
            </li>
            <li>
                <span class="listitem">Kurzus #3</span>
                <span><button class="li-btn">Felvesz</button></span>
            </li>
            <li>
                <span class="listitem">Kurzus #4</span>
                <span><button class="li-btn">Felvesz</button></span>
            </li>
        </ul>
    </div>
</section>
