@{
    ViewData["Title"] = "Regisztráció";
}
<section class="maintext">
    <h1>Regisztrálj itt!</h1>
</section>
<section>
    <div>
        <form action="/action_page.php" method="post" id="registerform">
            <label for="username">Felhasználónév</label>
            <input type="text" id="username" name="username" placeholder="..."><br>
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="..."><br>
            <label for="pwd">Jelszó</label>
            <input type="password" id="pwd" name="pwd" placeholder="...">
        </form>
    </div>
    <div>
        <button type="submit" form="registerform" value="Submit">Regisztráció</button>
    </div>
</section>