@inject SignInManager<User> SignInManager
@inject RoleManager<IdentityRole> RoleManager
@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Identity
@using Tanfolyam.Models.Data.Classes
@using Tanfolyam.Models.Data.DTO
@model IEnumerable<DtoCourseWrapper>
@{
    ViewData["Title"] = "Felvett kurzusok";
}

<section class="maintext">
    <h1>Az alábbi kurzusokra jelentkeztél:</h1>
</section>
<partial name="_CourseListingPartial" model="@Model" />
