@{
    ViewData["Title"] = "Felvett kurzusok";
}

<section class="maintext">
    <h1>Jelentkezz az alábbi kurzusok közül:</h1>
</section>
<section class="info">
    <div>
        <input type="text" class="filter" placeholder="Keresés oktató nevére...">
    </div>
    <div class="balance">
        <p>Idei kezdőegyenleg: 130.000 Ft</p>
        <p>Még ennyit tudsz elkölteni: 25.000 Ft</p>
    </div>
</section>
<section>
    <div>
        <ul class="bg-bubble">
            <li class="li-bg">
                <span class="listitem">Kurzus #1 ide jön majd sok sok információ erről a kurzusról</span>
                <span><button class="li-btn">Leiratkozás</button></span>
            </li>
            <li class="li-bg">
                <span class="listitem">Kurzus #2</span>
                <span><button class="li-btn">Leiratkozás</button></span>
            </li>
            <li class="li-bg">
                <span class="listitem">Kurzus #3</span>
                <span><button class="li-btn">Leiratkozás</button></span>
            </li>
            <li class="li-bg">
                <span class="listitem">Kurzus #4</span>
                <span><button class="li-btn">Leiratkozás</button></span>
            </li>
        </ul>
</div>
</section>
